Rules = [
  RowCount > 0,
  IsComplete "ride_id",
  IsUnique "ride_id",
  IsComplete "started_at",
  IsComplete "ended_at",
  IsComplete "trip_date",
  ColumnValues "trip_date" >= "${start_date}" with threshold = 1.0,
  IsComplete "rideable_type",
  ColumnValues "rideable_type" in ["electric_bike", "classic_bike"] with threshold = 1.0,
  IsComplete "member_casual",
  ColumnValues "member_casual" in ["member", "casual"] with threshold = 1.0,
  IsComplete "is_valid_duration",
  CustomSql "select avg(case when is_valid_duration then 1.0 else 0.0 end) from primary" > 0.98,
  CustomSql "select avg(case when duration_seconds between 0 and 86401 then 1.0 else 0.0 end) from primary" > 0.98,
  Completeness "start_station_id" > 0.90,
  Completeness "end_station_id" > 0.90,
  Completeness "start_lat" > 0.98,
  Completeness "start_lng" > 0.98,
  Completeness "end_lat" > 0.98,
  Completeness "end_lng" > 0.98,
  CustomSql "select avg(case when start_lat is null or start_lat between 40.0 and 41.5 then 1.0 else 0.0 end) from primary" > 0.98,
  CustomSql "select avg(case when end_lat is null or end_lat between 40.0 and 41.5 then 1.0 else 0.0 end) from primary" > 0.98,
  CustomSql "select avg(case when start_lng is null or start_lng between -75.0 and -72.0 then 1.0 else 0.0 end) from primary" > 0.98,
  CustomSql "select avg(case when end_lng is null or end_lng between -75.0 and -72.0 then 1.0 else 0.0 end) from primary" > 0.98
]
